torch
transformers
datasets
s2geometry
tqdm
pandas
nltk
rouge_score
sklearn
wandb
xlrd
pyproj
shapely

# for presentations
fastapi
uvicorn[standard]
pydash
holoviews
colorcet
datashader
jupyter
matplotlib