torch
transformers
datasets
s2geometry
tqdm
pandas
nltk
rouge_score
scikit-learn
wandb
xlrd
pyproj
shapely
s2sphere

# for presentations
fastapi
uvicorn[standard]
pydash
holoviews
colorcet
datashader
jupyter
matplotlib